[
    {
        "ID": 1,
        "URL": "https://www.notion.so/your-url-here",
        "title": "Magic Number"
    },
    {
        "ID": 2,
        "URL": "https://www.notion.so/your-url-here",
        "title": "My favorite word"
    }
]