{
	"servers": {
		"task-server": {
			"type": "stdio",
			"command": "node",
            "args": ["mcps/passthrough.mjs", "task-server"]
		}
	},
	"inputs": []
}

{
	"servers": {
		"simple-mcp-app": {
			"cwd": "${workspaceFolder}/mcps",
			"type": "stdio",
			"command": "npx",
            "args": ["tsx", "simple-mcp-app/index.ts"]
		}
	},
	"inputs": []
}